body {
    background-color: #e7e7e7;
}

.container {
    margin: 50px auto;
    max-width: 1300px;
    min-width: 1000px;
    border: 3px solid #b9c4c2;
    border-radius: 10px;
    padding: 0;
}

.block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #99b6dc;
    padding: 10px 20px;
    border-radius: 5px;
}

.block_name {
    margin: 0;
}

.table {
    width: 100%;
    margin-bottom: 0;
}

.table_header {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #C2C2C2;
}

.table_row {
    background-color: rgb(208, 213, 231);
}

.body_column {
    padding: 10px;
}

.first_column_block {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.last_column_block {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.img_profile {
    font-size: 25px;
    color: #1e6bde;
    padding-right: 5px;
}

.status {
    padding: 1px 7px 1px 7px;
    border-radius: 3px;
    background-color: rgba(128, 128, 128, 0.76);
    color: white;
}

.status_color {
    background-color: rgba(24, 155, 47, 0.76);
}

.img_icon {
    padding: 5px;
    background-color: #4C96EFFF;
    border-radius: 3px;
    color: black;
}

.img_icon:hover {
    background-color: rgba(204, 189, 189, 0.76);
    border: 2px solid grey;
}

.img_color {
    background-color: #ef4c4c;
}

.modal {
    margin: 10% 25%;
    text-align: center;
}

.modal-form {
    width: 50%;
    background-color: rgba(160, 186, 224, 0.89);
    padding: 24px;
    border: 2px solid #310101;
    border-radius: 8px;
}

.close {
    font-size: 28px !important;
    font-weight: bold !important;
    cursor: pointer;
}

.modal-input {
    width: 50%;
}
