body {
    background: rgb(152, 80, 9);
    background: linear-gradient(90deg, rgba(152, 80, 9, 1) 5%, rgba(244, 123, 3, 0.8519782913165266) 61%);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.header a {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    background-color: #825fcd;
    margin: 0 25px;
}

.header a:hover {
    background-color: #6a3bcf;
}

.container_recipe {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto 20px auto;
    background-color: antiquewhite;
    border-radius: 15px;
    box-shadow: rgba(40, 1, 54, 0.56) 0px 22px 70px 4px;
    padding: 20px;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.recipe-list {
    margin-top: 20px;
}

.recipe-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.recipe-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.recipe-list li {
    margin-bottom: 10px;
}

.recipe-list h2 {
    text-align: left;
}

.recipe-item {
    padding: 5px;
    border: 2px solid #ffe7cd;
    border-radius: 5px;
    box-shadow: rgba(224, 174, 0, 0.3) 0px 19px 38px, rgba(152, 38, 38, 0.22) 0px 15px 12px;
}

.recipe-item-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
h6{
    color: red;
    text-shadow: 0px -1px #512315;
    font-size: 12px;
}

p {
    margin: 0;
}

.bi {
    margin-right: 5px;
}

.icon-meal {
    margin-left: 5px;
}

.modal-content {
    box-shadow: rgba(40, 1, 54, 0.56) 0px 22px 70px 4px;
}

.btn-primary {
    color: #fff;
    background-color: #825fcd;
}

.btn-primary:hover {
    background-color: #6a3bcf;
}

.container_modal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}




