<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>

    <!--  с помощью тега сервлет мы создаем диспатчер сервлет, у него название dispatcher, -->
    <!--  класс котрый используется для создания dispatcher servlet, мы его берем из библиотеки springframework-->
    <!--  при создании DispatcherServlet мы ему должны указать параметры:
     путь до того файла, где находиться Spring конфигурация WEB-INF/applicationContextMVC.xml-->
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/applicationContextMVC.xml</param-value>
        </init-param>
        <!--Этот парементр указывает на то что вот этот DispatcherServlet нужно загружать в первую очередь на сервер -->
        <load-on-startup>1</load-on-startup>
    </servlet>
    <!--с помощью тега <servlet-mapping> мы обращаемся к нашему <servlet-name>dispatcher</servlet-name> (Диспатчер Сервлету)
     и говорим что любой url ( <url-pattern>/</url-pattern>) должен перенаправляться на наш диспатчер сервлет-->
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

</web-app>
