<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!--    Import file "musicPlayer.properties". File "musicPlayer.properties" is located in classpath (classpath = resources folder)-->
    <context:property-placeholder location="classpath:musicPlayer.properties"/>

    <bean id="musicBean"
          class="org.example.ClassicalMusic">
    </bean>

    <!--    via Constructor-->
    <!--    <bean id="musicPlayer"-->
    <!--          class="org.example.MusicPlayer">-->
    <!--        <constructor-arg ref="musicBean"/>-->
    <!--    </bean>-->

    <!--    via Setter-->
    <!--    <bean id="musicPlayer"-->
    <!--          class="org.example.MusicPlayer">-->
    <!--        <property name="music"-->
    <!--                  ref="musicBean"/> &lt;!&ndash; name="music" = setMusic in class MusicPlayer without set and in lowercase (music)&ndash;&gt;-->
    <!--        <property name="name" value="Some name"/>-->
    <!--        <property name="volume" value="50"/>-->
    <!--    </bean>-->

    <!--    via file "musicPlayer.properties" scope - singleton-->
    <!--    <bean id="musicPlayer"-->
    <!--          class="org.example.MusicPlayer">-->
    <!--        <property name="music"-->
    <!--                  ref="musicBean"/> &lt;!&ndash; name="music" = setMusic in class MusicPlayer without set and in lowercase (music)&ndash;&gt;-->
    <!--        <property name="name" value="${musicPlayer.name}"/>-->
    <!--        <property name="volume" value="${musicPlayer.volume}"/>-->
    <!--    </bean>-->

    <!--    via file "musicPlayer.properties" scope - prototype -->
    <bean id="musicPlayer"
          class="org.example.MusicPlayer"
          scope="prototype">
        <property name="music"
                  ref="musicBean"/> <!-- name="music" = setMusic in class MusicPlayer without set and in lowercase (music)-->
        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
    </bean>

</beans>