.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f3f6f9;
}

.title {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 0;
    margin-bottom: 16px;
}

.phrase {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 24px;
}

.form-container {
    padding: 32px 16px 48px 16px;
    border: solid 1px #e0e3e7;
    border-radius: 16px;
    background-color: #fff;
}

.input-form {
    margin-bottom: 8px;
}

.names {
    display: flex;
}

.input {
    font-family: 'Montserrat', sans-serif;
    width: 380px;
}

.input-firstname {
    font-family: 'Montserrat', sans-serif;
    width: 180px !important;
    margin-right: 11px;
}

.input-lastname {
    font-family: 'Montserrat', sans-serif;
    width: 180px !important;
    margin-left: 11px;
}

.inout-checkbox {
    margin: 3px 3px 3px 0;
}

.reg-button {
    width: 100%;
}


